// NORMALISE //

* {box-sizing: border-box;}

html {font-size: 62.5%;}

body {
	font-size: 1.8rem;
	line-height: 2;
	margin: 0;
	color: #6a5c6b;
	background-image: url(../img/fond.svg);
	background-attachment: fixed;
}

a {text-decoration: none;}

img {max-width: 100%;}

ul {
	padding : 0;
	list-style: none;
}

// NORMALISE //


$orange: #EB734E;
$blue: #465268;
$black: #282B3A;


@media screen and (max-width: 650px) {
    
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        margin: 0;
    }

    header {
        background-color: #465268;
        color: white;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        & h1 {
            font-family: 'Righteous', cursive;
            text-transform: uppercase;
            font-size: 30px;
        }

        & h1::before {
            content: '"';
            color: $orange;
        }

        & h1::after {
            content: '"';
            color: $orange;
        }

        & div {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        nav {
            width: 50%;
            height: 100%;

            & ul {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin: 0;

                & li {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    & a {
                        width: 25%;
                        color: white;
                        text-transform: uppercase;
                        font-family: 'Lato', sans-serif;
                        font-size: 90%;
                        display: flex;
                        justify-content: flex-start;
                    }

                    // #link_plats {
                    //     width: 25%;
                    // }

                    // #link_blog {
                    //     width: 25%;
                    // }

                    // #link_contact {
                    //     width: 25%;
                    // }
            
                    // & a:hover {
                    //     background-color: $orange;
                    //     cursor: pointer;
                    //     padding: 1% 20%;
                    // }
                }

                // & li:hover {
                //     background-color: $orange;
                //     cursor: pointer;
                //     // padding: 1% 5% 1% 2%;
                //     // padding: 1% 1%;
                // }
            }
        }

        button {
            color: white;
            background-color: $black;
            padding: 2%;
            border-radius: 7px;
            border: 1px solid white;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
        }
    }


    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        & #tableau {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            & h2 {
                text-transform: uppercase;
                font-family: 'Lato', sans-serif;
                color: black;
                margin: 0;
            }

            & table {
                width: 90%;
                color: white;
                font-family: 'Lato', sans-serif;
                border: 2px solid #B7B9B8;

                & thead {
                    background-color: $blue;
                    
                    & th {
                        text-align: center;
                        padding: 1% 2%;
                    }
                }

                & tbody {
                    color: black;
                    
                    & td {
                        border: 2px solid #B7B9B8;
                        text-align: center;
                        padding: 1% 2%;
                    }
                }

                & tfoot {
                    background-color: $blue;

                    & td {
                        padding: 1% 2%;
                    }
                }
            }
        }


        & #plats {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 10px;

            & h2 {
                text-transform: uppercase;
                font-family: 'Lato', sans-serif;
                color: black;
                margin: 0;
            }

            & article {
                width: 90%;
                height: 18%;
                display: flex;
                font-family: 'Lato', sans-serif;
                margin: 0;
                display: flex;

                & .imgs {
                    width: 100%;
                    height: 95%;
                    margin: 0;
                }
                & img {
                    width: 155px;
                    height: 198px;
                    border-radius: 10px;
                    margin: 0;
                }

                & div {
                    padding: 0 1%;
                    color: black;
                    
                    & h3 {
                        font-size: 30px;
                        margin: 0;
                    }

                    & p {
                        font-size: 15px;
                    }
                }
            }

            & .bg_grey {
                background-color: #EAECEB;
                border-radius: 10px;
            }
        }
    }

    #parallax {
        background-image: url(../img/img-12.jpg);
        background-attachment: fixed;
        background-position: center;
        border-radius: 10px;
        margin-top: 10px;
        width: 90%;
        height: 150px;
    }


    #blog {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        
        h2 {
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            color: black;
            margin-bottom: -100px;
        }

        article {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 90%;
            box-shadow: 0px 0px 15px 0px #000000;
            height: 18%;
            margin-bottom: 10px;

            & img {
                width: 100%;
                height: 50%;
            }

            & div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 0;
                width: 100%;
                font-family: 'Lato', sans-serif;
                color: black;

                & h3 {
                    margin: 0;
                    font-size: 20px;
                    text-transform: uppercase;
                }

                & p {
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }

}